/* Estrutura */
#menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
}

#menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.logo-principal {
    width: 100px;
}

.header-text {
    font-family: 'Playwrite CU', sans-serif;
    font-size: 25px;
}

.menu-navegacao {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    #menu-icon {
        display: block; /* Mostra o ícone em telas pequenas */
    }

    .menu-navegacao {
        display: none; /* Esconde o menu de navegação */
    }
}


/* Estilos forms */

#conteudo-principal {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f0f0f0;
}

.contact-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contact-form label {
    margin-top: 10px;
    display: block;
    color: #333;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/*Button*/
.button-56 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #fff;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }
/* Estilo do rodapé */
#rodape {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#rodape p {
    color: #333;
    margin-bottom: 20px;
}

.redes-sociais-rodape {
    list-style: none;
    padding: 0;
}

.redes-sociais-item {
    display: inline-block;
    margin: 0 10px;
}

.social-link {
    font-size: 24px;
    color: #555;
    text-decoration: none;
}

.social-link:hover {
    color: #f1ba0f;
}
